<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">

    <!-- Quill -->
    <link rel="stylesheet" href="assets/vendors/quill/quill.bubble.css">
    <link rel="stylesheet" href="assets/vendors/quill/quill.snow.css">


</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item ">
                            <a href="yindex.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item active">
                            <a href="ylatihan.html" class='sidebar-link'>
                                <i class="fa fa-book"></i>
                                <span>List Semua Pelatihan</span>
                            </a>
                        </li>

                        <li class="sidebar-item ">
                            <a href="ydaftar.html" class='sidebar-link'>
                                <i class="fa fa-user"></i>
                                <span>List Semua Peserta</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>
                    Judul Pelatihan
                </h3>
                <span class="badge bg-success">Buka</span>
                <span class="badge bg-info">Online</span>
                <span class="badge bg-dark">Pendaftaran : 12 Maret 2024 - 19 Maret 2024</span>
                <span class="badge bg-primary">Pelatihan : 20 Maret 2024 - 22 Maret 2024</span>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        <img src="assets/images/kominfo/downloadnow.jpeg" class="w-100" style="max-height: 28rem !important;" alt="">
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Ubah Data</h4>
                            </div>
    
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
    
                                        <div class="form-group">
                                            <label for="helpInputTop">Judul Pelatihan</label>
                                            <small class="text-muted">eg.<i>someone@example.com</i></small>
                                            <input type="text" class="form-control" id="helpInputTop" placeholder="Judul Pelatihan">
                                        </div>

                                        <div class="form-group">
                                            <label for="helperText">Image</label>
                                            <input type="file" class="form-control" id="inputGroupFile01">
                                            <p><small class="text-muted">Find helper text here for given textbox.</small>
                                            </p>
                                        </div>

                                        <div class="form-group">
                                            <label for="helperText">File</label>
                                            <input type="file" class="form-control" id="inputGroupFile01">
                                            <p><small class="text-muted">Find helper text here for given textbox.</small>
                                            </p>
                                        </div>

                                        <div class="form-group">
                                            <label for="helperText">Link</label>
                                            <input type="text" id="helperText" class="form-control" placeholder="Link">
                                            <p><small class="text-muted">Find helper text here for given textbox.</small>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                             
                                        <div class="form-group">
                                            <label for="helpInputTop">Tanggal Pendaftaran</label>
                                            <small class="text-muted">eg.<i>someone@example.com</i></small>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <small class="text-muted">Awal</small>
                                                    <input type="date" class="form-control" id="helpInputTop" placeholder="Awal">
                                                    
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <small class="text-muted">AKhir</small>
                                                    <input type="date" class="form-control" id="helpInputTop" placeholder="Akhir">
                                                </div>
                                            </div>                                                  
                                        </div>

                                        <div class="form-group">
                                            <label for="helpInputTop">Tanggal Pelatihan</label>
                                            <small class="text-muted">eg.<i>someone@example.com</i></small>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <small class="text-muted">Awal</small>
                                                    <input type="date" class="form-control" id="helpInputTop" placeholder="Awal">
                                                    
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <small class="text-muted">AKhir</small>
                                                    <input type="date" class="form-control" id="helpInputTop" placeholder="Akhir">
                                                </div>
                                            </div>                                            
                                        </div>

                                        <div class="form-group">
                                            <label for="helperText">Lokasi</label>
                                            <input type="text" id="helperText" class="form-control" placeholder="Lokasi">
                                            <p><small class="text-muted">Find helper text here for given textbox.</small>
                                            </p>
                                        </div>

                                        <div class="form-group">
                                            <label for="helperText">Metode</label>
                                            <fieldset class="form-group">
                                                <select class="form-select" id="basicSelect">
                                                    <option>Online / Daring</option>
                                                    <option>Offline / Luring</option>
                                                </select>
                                            </fieldset>
                                            <p><small class="text-muted">Find helper text here for given textbox.</small>
                                            </p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <p>Deskripsi Pelatihan</p>
                                                <div id="snow">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-end">
                                        <button class="btn btn-primary">Tambahkan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2024 &copy; Dadang & Pras</p>
                    </div>
                    <div class="float-end">
                        
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="assets/js/pages/dashboard.js"></script>

    <script src="assets/js/main.js"></script>
    <!-- Quill -->
    <script src="assets/vendors/quill/quill.min.js"></script>
    <script src="assets/js/pages/form-editor.js"></script>



</body>

</html>