
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rumah Inovatif</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/kominfo/logo-removebg-preview.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>
<style>
  #hero{
    background: url("assets/kominfo/carousel\ 1.jpg") top left;
    background-repeat: no-repeat
  }
</style> 
<body>

<main id="main">
    <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container w-100 p-2">
      <div class="contact-info d-flex align-items-center justify-content-center">
        <!-- <div class="input-group d-flex justify-content-center px-4">
          <input type="text" class="form-control" style="width: 45%; border-radius: 10px;" placeholder="Cari Pelatihan" aria-label="" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-success rounded" style="border-radius: 10px;" type="button">Cari</button>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo"><img src="assets/kominfo/download (1).png" alt=""></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="yindex.html#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="ycourse.html">Pelatihan</a></li>
          <li><a class="nav-link scrollto" href="yindex.html#contact">Contact US</a></li>
          <li><a href="#"><button class="nav-link scrollto" data-toggle="modal" data-target="#loginModal">Login</button></a></li>

          <form action="">
              <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-body">
                          <input type="email" name="" id="" placeholder="Email" class="w-100 form-control mb-2">
                          <input type="password" name="" id="" placeholder="Password" class="w-100 form-control  mb-2">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Login</button>
                      </div>
                    </div>
                  </div>
              </div>
          </form>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

        <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Judul Pelatihan</h2> 
          </div>
  
        </div>
    </section><!-- Breadcrumbs Section -->
  
      <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
  
                  <div class="swiper-slide">
                    <img src="assets/img/portfolio/portfolio-details-1.jpg" alt="">
                  </div>
  
                </div>
                <div class="swiper-pagination"></div>
  
                <div class="portfolio-description">
                  <h2>Deskripsi Pelatihan</h2>
                  <p>
                    Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Project information</h3>
                <ul class="cilik">
                  <li><strong>Tgl. Awal Pendaftaran</strong>: 12 Desember 2024</li>
                  <li><strong>Tgl. Akhir Pendafataran</strong>: 11 Januari 2024</li>
                  <li><strong>Tgl. Awal Pelatihan</strong>: 13 Desember 2024</li>
                  <li><strong>Tgl. Akhir Pelatihan</strong>: 11 Januari 2024</li>
                  <li><strong>Status</strong>: Buka</li>
                  <li><strong>Metode</strong>: Online</li>
                </ul>
              </div>
  
              <button type="button" class="btn btn-outline-primary w-100 mt-2" data-toggle="modal" data-target="#exampleModal">
                  Daftar Sekarang
              </button>
  
              <form action="">
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <div class="modal-body">
                                  <input type="text" name="" id="" placeholder="Nama" class="w-100 form-control mb-2">
                                  <select class="form-control w-100 mb-2">
                                    <option>Pelajar / Siswa</option>
                                    <option>Mahasiswa</option>
                                    <option>PNS</option>
                                    <option>Pedagang</option>
                                    <option>Pensiunan</option>
                                    <option>Seniman</option>
                                    <option>Petani / Peternak</option>
                                    <option>Pegawai Swasta</option>
                                    <option>Wiraswasta</option>
                                    <option>Lainnya</option>
                                  </select>
                                  <input type="text" name="" id="" placeholder="Institut Atau Nama Lembaga" class="w-100 form-control  mb-2">
                                  <input type="text" name="" id="" placeholder="Kelas Atau Jabatan" class="w-100 form-control  mb-2">
                                  <input type="text" name="" id="" placeholder="Nomer Handphone" class="w-100 form-control  mb-2">
                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                  </div>
              </form>
  
            </div>
  
          </div>
  
        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Pranala</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Kementerian Komunikasi dan Informatika RI</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Badan Pengembangan SDM Kominfo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Diploy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Beasiswa Kominfo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Digileader</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Indeks Masyarakat Digital Indonesia</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Digitalent</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Informasi</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tentang Program</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">FAQ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Digitalent Mobile</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Sosial Media</p>
            <div class="social-links mt-3">
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-youtube"></i></a>
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              <a href="#" class="twitter"><i class="bx bxl-tiktok"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        Copyright &copy; 2024<strong><span> Badan Pengembangan SDM Kominfo</span></strong>
      </div>
      <div class="credits">        
        Designed by Dadang & Prasetyou
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>


